<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShopEase Automation Suite" parallel="tests" thread-count="4">
    <test name="Login Tests">
        <classes>
            <class name="com.shopease.automation.tests.LoginTests"/>
        </classes>
    </test>
    <!-- Add more <test> blocks here for parallel execution -->
    <test name="Registration Tests">
        <classes>
            <class name="com.shopease.automation.tests.RegistrationTests"/>
        </classes>
    </test>
</suite>
